<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Winlabo"
        tools:targetApi="31">
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Inscription"
            android:exported="false" />
        <activity
            android:name=".SeConnecter"
            android:exported="false" />
        <activity
            android:name=".Enregistrement2"
            android:exported="false" />
        <activity
            android:name=".Enregistrement1"
            android:exported="false" />
        <activity
            android:name=".Derogation2"
            android:exported="false" />
        <activity
            android:name=".Derogation1"
            android:exported="false" />
        <activity
            android:name=".Traitement3"
            android:exported="false" />
        <activity
            android:name=".Traitement2"
            android:exported="false" />
        <activity
            android:name=".Traitement1"
            android:exported="false" />
        <activity
            android:name=".ChoixTraitementDerogation"
            android:exported="false" />
        <activity
            android:name=".DeclarationEvenement6"
            android:exported="false" />
        <activity
            android:name=".DeclarationEvenement5"
            android:exported="false" />
        <activity
            android:name=".DeclarationEvenement4"
            android:exported="false" />
        <activity
            android:name=".DeclarationEvenement3"
            android:exported="false" />
        <activity
            android:name=".DeclarationEvenement2"
            android:exported="false" />
        <activity
            android:name=".DeclarationEvenement1"
            android:exported="false" />
        <activity
            android:name=".Accueil"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>